<?xml version="1.0" encoding="utf-8"?>
<configuration>

 <system.webServer>
    <security>
        <requestFiltering>
            <!-- Max allowed content length set to higher value -->
            <requestLimits maxAllowedContentLength="209715200" /> <!-- Example: 200MB -->
        </requestFiltering>
    </security>
</system.webServer>

</configuration>